<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>@natkringoudis</title>
    <description>Nat Kringoudis' Instagram Feed</description>
    <link>https://instagram.com/natkringoudis</link>
    <pubDate>{{ created_time }}</pubDate> 
    <atom:link href="http://nk-feed-001.appspot.com/pics" rel="self" type="application/rss+xml" />
    <generator>nkfeed</generator>
{% for post in posts %}
    <item>
      <title>{{ post.caption.text }}</title>
      <description><![CDATA[<a href="{{ post.link }}"><img width="200" height="200" src="{{ post.images.low_resolution.url }}" alt="{{ post.caption.text }}"></a>]]></description>
      <guid isPermaLink="true">{{ post.link }}</guid>
    </item>
{% endfor %}
  </channel>
</rss>
